html{
    height: 150;
}

body{
    background-color: rgba(78, 122, 80, 0.637);
    background-image: url(picha/africanwildlife1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header{
 /*background-color: blue;*/
 height: 120px;
 text-align: center;
 }

nav{
background-color: rgba(0, 0, 0, 0.178);
/*height: 40px;*/
text-align: center;
padding-top: 15px;
padding-bottom: 15px;

}

main{
   /* background-color: orange;*/
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240;
    padding-right: 240;

   
    }

footer{
        background-color: rgba(0, 0, 0, 0.295);
        height: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
     }

h1{
  font-size: 84px;
  color: white;
  font-family:  Arial, Helvetica, sans-serif;
  }

p{
    font-size: 18px;
    color: rgb(64, 233, 64);
    font-family:  Arial, Helvetica, sans-serif;
  }

a{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  /*  text-decoration: none;*/
}

nav a{
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px ;

}

footer p{
    font-size: 16px;
    text-align: center;
    color: white;

}

